<!DOCTYPE html>
<html>

<head>
	<title>Mini-Django</title>
	<meta charset="UTF-8">

	<link rel='stylesheet' type='text/css' href="{% static 'style.css' %}">
	<script type='text/javascript' src="{% static 'test.js' %}"></script>

</head>

<body>
	<div id= "test"></div>
	<p> Hello World </p>
	
	My name is {{ name }} 
	
	{% for i in numbers %} 
		Hello world {{ i }}
	{% endfor %} 
	
	{% if name %}
		I have a name 
		{% for i in numbers %}
			In the 'if' tag {{ i }} 
		{% endfor %}
	{% endif %}
	
	{% if invalid %}
		I should not appear.
	{% endif %}
</body>

</html>
